:root {
  --font: 'Afacad Flux', system-ui;
  --font-size: 1.063rem;
  --font-color: #f0f0f0;
  --first-color: #0e0e0f;
  --second-color: rgba(255, 255, 255, 0.1);
  --third-color: #1a1a1a;
  --fourth-color: #2b2b2b;
  --gradient: linear-gradient(45deg, #c23dff, #673dff, #c23dff, #773dff);
  --skew-angle: 4deg;
  --header-height: 70px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font);
  background-color: var(--first-color);
  color: var(--font-color);
}

body {
  margin: 0;
  font-size: var(--font-size);
}

p {
  line-height: 1.5;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.875rem;
}

header {
  border-bottom: 1px solid transparent;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: rgba(14, 14, 15, 0.75);
  backdrop-filter: blur(5px);
  transition: 300ms ease border-bottom-color;

  .header-container {
    max-width: 1300px;
    padding-inline: 16px;
    height: var(--header-height);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 6px;

      .meteor {
        width: 25px;
        height: 25px;
        fill: var(--font-color);
      }
    }

    .dropdown-button {
      padding: 8px 14px;
      border: none;
      display: flex;
      align-items: center;
      gap: 12px;
      font-family: inherit;
      font-weight: bold;
      font-size: inherit;
      background-color: var(--second-color);
      color: inherit;
      border-radius: 8px;
      cursor: pointer;

      svg,
      span {
        pointer-events: none;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-top: 4px;
        fill: var(--font-color);
        transition: 200ms ease rotate;
      }
    }
    .dropdown-button.active > svg {
      rotate: 180deg;
    }

    nav {
      width: 150px;
      margin: 0;
      padding: 8px;
      border: 1px solid var(--second-color);
      display: flex;
      flex-direction: column;
      gap: 6px;
      position: fixed;
      right: 8px;
      top: calc(var(--header-height) + 8px);
      background-color: var(--first-color);
      border-radius: 8px;
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
      transition: 300ms ease transform, 300ms ease opacity;

      a:last-child {
        display: none;
        font-weight: bold;
      }
      a {
        padding: 0.5rem;
        border-radius: 4px;
        transition: 300ms ease background-color;
      }
      a:hover {
        background-color: var(--second-color);
      }
    }
    nav.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }
}
.header-border {
  border-bottom-color: var(--second-color);
}

main {
  section {
    padding: 64px 16px;

    h2,
    h3,
    p {
      margin: 0;
    }
  }

  .hero-section {
    padding: 16px 16px 64px;

    .photo-container {
      width: 120px;
      height: 120px;
      margin-bottom: 16px;
      border-radius: 50%;
      overflow: hidden;

      .photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .title {
        font-size: 2.25rem;

        span {
          background-image: var(--gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .links-of-interest {
        display: flex;
        justify-content: space-around;
        font-weight: bold;

        a {
          display: flex;
          gap: 4px;

          &:hover {
            text-decoration: underline;
          }
          &:hover > svg {
            transform: translateY(-6px);
          }
        }

        svg {
          width: 14px;
          height: 14px;
          margin-top: 5px;
          fill: var(--font-color);
          rotate: 45deg;
          transition: 300ms ease transform;
        }
      }
    }
  }

  .about-section {
    position: relative;

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .signature-container {
        width: 200px;
        margin-top: 1rem;
        align-self: flex-end;
      }
    }
  }
  .about-section::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    background: var(--third-color);
  }

  .skills-section > .container,
  .hobbies-section > .container {
    max-width: 620px;
    margin-inline: auto;
  }
  .skills-section .title,
  .hobbies-section .title {
    text-align: center;
    margin-bottom: 32px;
  }
  .skills,
  .hobbies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
  }
  .skill,
  .hobbie {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    background-color: var(--third-color);
  }
  .skill::after,
  .hobbie::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: var(--gradient);
    transform: translate(5px, 5px);
  }
  .skill-icon,
  .hobbie-icon {
    width: 40px;
    height: 40px;
    object-fit: scale-down;
  }
  .skill-name,
  .hobbie-name {
    text-align: center;
  }

  .hobbies-section {
    position: relative;
  }
  .hobbies-section::after {
    content: '';
    position: absolute;
    z-index: -2;
    inset: 0;
    transform: skewY(calc(var(--skew-angle) * -1));
    background: var(--third-color);
  }
  .hobbie {
    background-color: var(--fourth-color);
  }
  .hobbie::after {
    transform: translate(-5px, 5px);
  }
}
